.home {
  .contact-box {
    padding: 2rem 2rem;
  }

  .wp-block-media-text .wp-block-media-text__media {
    padding: 2.75rem;
  }
}

.wpcf7 {
  background-color: #e6e6e6;
  padding: 2rem 2rem !important;

  p {
    margin-bottom: 1rem;
  }
}

.about-box-wrapper {
  border: 1px solid #e2e8dd;
  background-color: #f4f4f8;
  padding: 1rem;
  min-height: 13rem;
}

.about-box-inner {
  border: 1px solid #e2e8dd !important;
  background-color: #ffffff;
  padding: 0.75rem !important;
  min-height: 13rem;
  margin: 0 !important;
}
.page-id-333 div.wpcf7-mail-sent-ok {
  border: 2px solid red;
}

.page-id-333 div.wpcf7-validation-errors,
.page-id-333 div.wpcf7-acceptance-missing {
  border: 2px solid red;
}

@media only screen and (min-width: 960px) {
  .jumbo-inner p {
    font-size: 1.2rem;
  }
}

.site-footer p,
.site-footer a {
  font-size: 0.9rem;
}

.wpcf7 {
  padding: 1.5rem 1.5rem 0.5rem !important;
}

.wpcf7-textarea,
.wpcf7-text {
  font-size: 1rem;
}
