.page-id-58 .content-sidebar-wrap,
.page-id-3 .content-sidebar-wrap {
  background-color: white;
  padding-top: 4rem;
}

.page-id-58 h1,
.page-id-3 h1 {
  font-size: 2.5rem;
}

.page-id-58 h2,
.page-id-3 h2 {
  font-size: 1.75rem;
  margin-bottom: 1.75rem;
}
