@font-face {
  font-family: "arcon";
  src: url("https://www.sixpeakcapital.com/wp-content/themes/genesis-sample/fonts/arcon-regular.otf");
  src: url("https://www.sixpeakcapital.com/wp-content/themes/genesis-sample/fonts/arcon-regular-webfont.woff2")
      format("woff2"),
    url("https://www.sixpeakcapital.com/wp-content/themes/genesis-sample/fonts/arcon-regular-webfont.woff")
      format("woff"),
    url("https://www.sixpeakcapital.com/wp-content/themes/genesis-sample/fonts/arcon-regular-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}
