// @media only screen and (min-width: 960px) {
//   .sidebar {
//     width: 20%;
//   }
//   .content {
//     width: 75%;
//   }
// }

.page {
  margin-bottom: 0;
  // scroll-snap-type: proximity;
  // scroll-snap-points-y: repeat(100vh);
  // scroll-snap-type: y proximity;
  // scroll-padding: 50px;
}

.top-spacer {
  height: 30px;
  @media only screen and (min-width: 960px) {
    height: 60px;
  }
}

.bottom-spacer {
  height: 0;
  @media only screen and (min-width: 960px) {
    height: 57px;
  }
}

.team-block {
  margin-bottom: 0 !important;
}

.site-header .wrap {
  @media only screen and (min-width: 960px) {
    max-width: 1140px;
    margin: 0 auto;
  }
}

.site-inner {
  min-height: 75vh;
}
